{% extends 'layout/base.html' %}
{% block title %} Fast API Format {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_api.css' %}"> 
<div class= "top_bar" >
	<a href="/framework/">Dashboard</a>
	<div  class= "inner_div" ></div>
	<div  class= "inner_div" ><b>Create Fast API Fromat<b></div>
	<div  class= "inner_div"></div>
</div>
<div class= "content_bar" >
	<div  class= "inner_content_bar inner_content_bar0" ></div>
	<div  class= "inner_content_bar inner_content_bar1" >
		<form action="/framework/create_api" method="post">
			{% csrf_token %}
			<div class="field_div">
				<span  class="span_class1">End Point-:</span><br>
				<input type="text" name="end_point" placeholder="End Point" required>
			</div>
			<div class="field_div">
				<span  class="span_class1" >Request Param-:</span><br>
				<input type="text" name="request_param" placeholder="Request Param" required>
			</div>
			<div class="field_div">
				<span  class="span_class1">Prediction Method Name-:</span><br>
				<input type="text" name="prediction_method_name" placeholder="Prediction Method Name" required>
			</div>
			<div class="field_div1">
				<button type="submit" class="save">Submit</button>  
			</div>
		</form>
	</div>
	<div  class= "inner_content_bar inner_content_bar0"></div>
</div>
{% endblock %}